<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
               <h3> Calculate Monthly Premium</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="premiumform" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-4">   
                            <fieldset>
                                <legend>Name:</legend>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            ><i class="fas fa-user"></i
                                        ></span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Name"
                                        formControlName="name"
                                    />
                                </div>
                            </fieldset>
                        </div>
						 <div class="col-md-4">
                            <fieldset>
                                <legend>Date Of Birth:</legend>
                                 <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            ><i class="fas fa-calendar"></i
                                        ></span>
                                    </div>
                                    <label for="datepicker"></label>
                                    <input
                                        id="datepicker"
                                        type="text"
                                        class="form-control"
                                        placeholder="Date Of Birth"
                                        formControlName="dob"
                                    />
                                </div>
                            </fieldset>
                        </div>
                        
						 <div class="col-md-4">
                            <fieldset>
                                <legend>Age:</legend>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            ><i class="fas fa-user"></i
                                        ></span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Age"
                                        formControlName="age"
                                    />
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <legend>Sum Assured Amount:</legend>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            ><i class="fas fa-user"></i
                                        ></span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="SumAssured"
                                        formControlName="sumAssured"
                                    />
                                </div>
                            </fieldset>
                        </div>
                         <div class="col-md-4">
                            <fieldset>
                                <legend>Occupation:</legend>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            ><i class="fas fa-user"></i
                                        ></span>
                                    </div>      <select
                                    id="inputState"
                                    class="form-control"
                                    formControlName="occupation"
                                >
                                    <option selected value="" disabled
                                        >Select Occupation</option
                                    >
                                    <option
                                        *ngFor="let Occupation of Occupations"
                                        [ngValue]="Occupation.OccupationRating"
                                        >{{ Occupation. }}</option
                                    >
                                </select>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div
                                *ngIf="name.touched && name.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="name.hasError('required')"
                                    >Name is required.</span
                                >
                            </div>
                            <div
                                *ngIf="dob.touched && dob.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="dob.hasError('required')"
                                    >Date of birth is required.</span
                                >
                                
                            </div>
                            <div
                                *ngIf="sumAssured.touched && sumAssured.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="sumAssured.hasError('required')"
                                    >Sum Assured is required.</span
                                >
                            </div>
                            <div
                                *ngIf="occupation.touched && occupation.errors"
                                class="errorMessage"
                            >
                                <span *ngIf="occupation.hasError('required')"
                                    >Occupation is required.</span
                                >
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>